Repository Five-Fishes/Club-Management-React-Client, pull requests merged in 2021-05, with the labels that each got.

#105 Use authorization checker
  src/main/webapp/app/entities/budget/budget-delete-dialog.tsx
  src/main/webapp/app/entities/budget/budget.tsx
  src/main/webapp/app/entities/debt/debt.tsx
  src/main/webapp/app/entities/event-activity/event-activity-delete-dialog.tsx
  src/main/webapp/app/entities/event-activity/event-activity.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-delete-dialog.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist-delete-dialog.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist.tsx
  src/main/webapp/app/entities/event-crew/event-crew-delete-dialog.tsx
  src/main/webapp/app/entities/event-crew/event-crew.tsx
  src/main/webapp/app/entities/event/event-delete-dialog.tsx
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/entities/event/event.tsx
  src/main/webapp/app/shared/components/authorization-checker/authorization-checker.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.tsx
  src/main/webapp/app/shared/components/eventModal/event-modal.tsx
  src/main/webapp/app/shared/components/listing-card/listing-card.tsx
  src/main/webapp/app/shared/util/tab.constants.ts
Labels: authorization

#94 Debt collect and bad debt dialog
  src/main/webapp/app/app.tsx
  src/main/webapp/app/config/constants.ts
  src/main/webapp/app/entities/budget/budget-delete-dialog.tsx
  src/main/webapp/app/entities/budget/budget.reducer.ts
  src/main/webapp/app/entities/budget/budget.tsx
  src/main/webapp/app/entities/debt/debt-delete-dialog.tsx
  src/main/webapp/app/entities/debt/debt.reducer.ts
  src/main/webapp/app/entities/debt/debt.tsx
  src/main/webapp/app/entities/debt/index.tsx
  src/main/webapp/app/entities/event-activity/event-activity-delete-dialog.tsx
  src/main/webapp/app/entities/event-activity/event-activity.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-delete-dialog.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee.reducer.ts
  src/main/webapp/app/entities/event-attendee/event-attendee.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist-delete-dialog.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist.tsx
  src/main/webapp/app/entities/event-crew/event-crew-delete-dialog.tsx
  src/main/webapp/app/entities/event-crew/event-crew-update.tsx
  src/main/webapp/app/entities/event-crew/event-crew.tsx
  src/main/webapp/app/entities/event/event-delete-dialog.tsx
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/entities/event/event.reducer.ts
  src/main/webapp/app/entities/event/event.tsx
  src/main/webapp/app/modules/administration/user-management/user-management.tsx
  src/main/webapp/app/routes.tsx
  src/main/webapp/app/shared/auth/app-route.tsx
  src/main/webapp/app/shared/components/authorization-checker/authorization-checker.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.tsx
  src/main/webapp/app/shared/components/financeConfirmationDialog/finance-confirmation-dialog.tsx
  src/main/webapp/app/shared/layout/header/header.tsx
  src/main/webapp/app/shared/reducers/authentication.ts
  src/main/webapp/i18n/en/debt.json
  src/main/webapp/i18n/zh-cn/debt.json
  src/test/javascript/spec/app/entities/budget/budget-reducer.spec.ts
  src/test/javascript/spec/app/entities/debt/debt-reducer.spec.ts
  src/test/javascript/spec/app/entities/event-activity/event-activity-reducer.spec.ts
  src/test/javascript/spec/app/entities/event-checklist/event-checklist-reducer.spec.ts
  src/test/javascript/spec/app/entities/event/event-reducer.spec.ts
  src/test/javascript/spec/app/shared/layout/header/header.spec.tsx
Labels: dev, finance

#121 Fix/issue 111
  src/main/webapp/app/modules/auth/complete-profile/complete-profile.reducer.ts
  src/main/webapp/app/modules/auth/complete-profile/complete-user-profile.tsx
  src/main/webapp/app/modules/auth/login/auth-login.tsx
  src/main/webapp/app/routes.tsx
  src/main/webapp/app/shared/auth/app-route.tsx
  src/main/webapp/app/shared/reducers/authentication.ts
  src/main/webapp/app/shared/services/auth.service.ts
  src/main/webapp/app/shared/services/uni-academic-info.service.ts
Labels: authentication, authorization, bug

#120 Yaw issue71 view profile
  src/main/webapp/app/config/icon-loader.ts
  src/main/webapp/app/modules/user-profile/index.tsx
  src/main/webapp/app/modules/user-profile/user-profile-evolution.tsx
  src/main/webapp/app/modules/user-profile/user-profile-role.tsx
  src/main/webapp/app/modules/user-profile/user-profile-stats.tsx
  src/main/webapp/app/modules/user-profile/user-profile.reducer.ts
  src/main/webapp/app/modules/user-profile/user-profile.tsx
  src/main/webapp/app/routes.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.tsx
  src/main/webapp/app/shared/model/user-cc-info.model.ts
  src/main/webapp/app/shared/model/user-cc-role-info.model.ts
  src/main/webapp/app/shared/model/user-uni-info.model.ts
  src/main/webapp/app/shared/model/user.model.ts
  src/main/webapp/app/shared/reducers/index.ts
  src/main/webapp/app/shared/type/custom-action.ts
  src/main/webapp/app/shared/util/string-util.ts
  src/main/webapp/app/shared/util/tab.constants.ts
  src/main/webapp/app/styles/custom.scss
  src/main/webapp/i18n/en/userProfile.json
  src/main/webapp/i18n/zh-cn/global.json
  src/main/webapp/i18n/zh-cn/userProfile.json
  src/main/webapp/static/images/black-whale.png
  src/main/webapp/static/images/shark.png
  src/main/webapp/static/images/whale.png
Labels: authentication, dev

#122 Event list card bugfix
  src/main/webapp/app/entities/event/event-card.tsx
  src/main/webapp/app/entities/event/event.tsx
  src/main/webapp/app/entities/event/events.scss
Labels: enhancement

#124 Yaw issue72 update profile
  src/main/webapp/app/modules/auth/complete-profile/complete-profile.reducer.ts
  src/main/webapp/app/modules/user-profile/complete-user-profile.tsx
  src/main/webapp/app/modules/user-profile/index.tsx
  src/main/webapp/app/modules/user-profile/user-profile-stats.tsx
  src/main/webapp/app/modules/user-profile/user-profile-update.tsx
  src/main/webapp/app/modules/user-profile/user-profile.reducer.ts
  src/main/webapp/app/modules/user-profile/user-profile.tsx
  src/main/webapp/app/routes.tsx
  src/main/webapp/app/shared/auth/app-route.tsx
  src/main/webapp/app/shared/layout/header/header.tsx
  src/main/webapp/app/shared/reducers/index.ts
  src/main/webapp/app/shared/services/uni-academic-info.service.ts
  src/main/webapp/i18n/en/userProfile.json
  src/main/webapp/i18n/zh-cn/userProfile.json
Labels: authentication, dev

#128 Event Activity List Default Sorting
  src/main/webapp/app/entities/event-activity/event-activity.tsx
  src/main/webapp/app/shared/util/date-utils.ts
Labels: dev, event

#130 Yaw issue89 firebase deployment
  .firebaserc
  .github/workflows/firebase-deploy.yml
  .github/workflows/node-test-build.yml
  .gitignore
  firebase.json
Labels: task
