Repository Five-Fishes/Club-Management-React-Client, pull requests merged in 2021-08, with the labels that each got.

#142 Finance Debt Claim Page
  src/main/webapp/app/config/constants.ts
  src/main/webapp/app/entities/claim/claim-delete-dialog.tsx
  src/main/webapp/app/entities/claim/claim-detail.tsx
  src/main/webapp/app/entities/claim/claim-update.tsx
  src/main/webapp/app/entities/claim/claim.reducer.ts
  src/main/webapp/app/entities/claim/claim.tsx
  src/main/webapp/app/entities/claim/index.tsx
  src/main/webapp/app/entities/debt/debt-detail.tsx
  src/main/webapp/app/entities/debt/debt-update.tsx
  src/main/webapp/app/entities/debt/debt.reducer.ts
  src/main/webapp/app/entities/debt/debt.tsx
  src/main/webapp/app/entities/event/event.tsx
  src/main/webapp/app/entities/transaction/transaction-detail-dialog.tsx
  src/main/webapp/app/entities/transaction/transaction-detail.tsx
  src/main/webapp/app/entities/transaction/transaction-update.tsx
  src/main/webapp/app/entities/transaction/transaction.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.scss
  src/main/webapp/app/shared/components/finance-action-button/finance-action-button.scss
  src/main/webapp/app/shared/components/finance-action-button/finance-action-button.tsx
  src/main/webapp/app/shared/components/finance-component-listing-card/finance-component-listing-card.scss
  src/main/webapp/app/shared/components/finance-component-listing-card/finance-component-listing-card.tsx
  src/main/webapp/app/shared/components/financeConfirmationDialog/finance-confirmation-dialog.tsx
  src/main/webapp/app/shared/model/transaction.model.ts
  src/main/webapp/app/styles/finance-module.scss
  src/main/webapp/i18n/en/claim.json
  src/main/webapp/i18n/en/debt.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/transaction.json
  src/main/webapp/i18n/zh-cn/claim.json
  src/main/webapp/i18n/zh-cn/global.json
  src/main/webapp/i18n/zh-cn/transaction.json
  src/test/javascript/spec/app/entities/claim/claim-reducer.spec.ts
  src/test/javascript/spec/app/entities/debt/debt-reducer.spec.ts
Labels: dev, finance

#145 Yaw issue133
  src/main/webapp/app/entities/club-family/club-family-delete-dialog.tsx
  src/main/webapp/app/entities/club-family/club-family-update.tsx
  src/main/webapp/app/entities/club-family/club-family.reducer.ts
  src/main/webapp/app/entities/club-family/club-family.tsx
  src/main/webapp/app/entities/club-family/index.tsx
  src/main/webapp/app/entities/index.tsx
  src/main/webapp/app/modules/user-profile/user-profile.tsx
  src/main/webapp/app/shared/model/club-family.model.ts
  src/main/webapp/app/shared/model/user-uni-info.model.ts
  src/main/webapp/app/shared/services/club-family-info.service.ts
  src/main/webapp/app/shared/util/tab.constants.ts
  src/main/webapp/app/styles/member-module.scss
  src/main/webapp/i18n/en/administrator.json
  src/main/webapp/i18n/en/clubFamily.json
  src/main/webapp/i18n/en/members.json
  src/main/webapp/i18n/zh-cn/administrator.json
  src/main/webapp/i18n/zh-cn/clubFamily.json
  src/main/webapp/i18n/zh-cn/members.json
Labels: dev, member

#140 Finance Report Page
  package-lock.json
  package.json
  src/main/webapp/app/entities/finance-report/finance-report.reducer.ts
  src/main/webapp/app/entities/finance-report/finance-report.tsx
  src/main/webapp/app/entities/finance-report/index.tsx
  src/main/webapp/app/entities/index.tsx
  src/main/webapp/app/shared/model/finance-report-statistic.model.ts
  src/main/webapp/app/shared/model/finance-report.model.ts
  src/main/webapp/app/shared/reducers/index.ts
  src/main/webapp/app/styles/finance-module.scss
  src/main/webapp/i18n/en/financeReport.json
  src/main/webapp/i18n/zh-cn/financeReport.json
Labels: dev, finance

#152 Add family member
  src/main/webapp/app/entities/club-family/family-member-create.tsx
  src/main/webapp/app/entities/club-family/index.tsx
  src/main/webapp/app/entities/user-cc-info/user-cc-info-detail.tsx
  src/main/webapp/app/entities/user-cc-info/user-cc-info.reducer.ts
  src/main/webapp/app/entities/user-cc-info/user-cc-info.tsx
  src/main/webapp/app/modules/administration/user-management/user-management.reducer.ts
  src/main/webapp/app/shared/model/user-cc-info.model.ts
  src/main/webapp/app/shared/util/string-util.ts
  src/main/webapp/i18n/en/clubFamily.json
  src/main/webapp/i18n/en/clubFamilyRole.json
  src/main/webapp/i18n/zh-cn/clubFamily.json
  src/main/webapp/i18n/zh-cn/clubFamilyRole.json
Labels: dev
