Repository Five-Fishes/Club-Management-React-Client, pull requests merged in 2021-04, with the labels that each got.

#47 Completed CRUD of event checklist
  src/main/webapp/app/entities/event-checklist/event-checklist-update.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist.reducer.ts
  src/main/webapp/app/entities/event-checklist/event-checklist.tsx
  src/main/webapp/app/entities/event-checklist/eventChecklist.scss
  src/main/webapp/app/entities/index.tsx
  src/main/webapp/i18n/zh-cn/eventChecklist.json
Labels: dev

#44 Event crew
  src/main/webapp/app/app.scss
  src/main/webapp/app/app.tsx
  src/main/webapp/app/config/icon-loader.ts
  src/main/webapp/app/entities/event-crew/event-crew-delete-dialog.tsx
  src/main/webapp/app/entities/event-crew/event-crew-detail.tsx
  src/main/webapp/app/entities/event-crew/event-crew-update.tsx
  src/main/webapp/app/entities/event-crew/event-crew.reducer.ts
  src/main/webapp/app/entities/event-crew/event-crew.scss
  src/main/webapp/app/entities/event-crew/event-crew.tsx
  src/main/webapp/app/entities/event-crew/index.tsx
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/entities/event/event.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.tsx
  src/main/webapp/app/shared/components/eventModal/event-modal.scss
  src/main/webapp/app/shared/components/eventModal/event-modal.tsx
  src/main/webapp/app/shared/components/eventTable/EventTable.tsx
  src/main/webapp/app/shared/components/eventTable/EventTableRow.tsx
  src/main/webapp/app/shared/layout/footer/footer.tsx
  src/main/webapp/app/shared/model/event-attendee.model.ts
  src/main/webapp/app/shared/model/event-crew.model.ts
  src/main/webapp/app/shared/reducers/modal.ts
  src/main/webapp/app/shared/type/event-custom-action.ts
  src/main/webapp/app/shared/util/tab.constants.ts
  src/main/webapp/i18n/en/event.json
  src/main/webapp/i18n/en/eventCrew.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/zh-cn/event.json
  src/main/webapp/i18n/zh-cn/eventCrew.json
  src/main/webapp/i18n/zh-cn/global.json
Labels: dev, event

#62 Update event budget
  src/main/webapp/app/config/notification-middleware.ts
  src/main/webapp/app/entities/budget/budget-update.tsx
  src/main/webapp/app/entities/budget/budget.reducer.ts
  src/main/webapp/app/entities/budget/budget.tsx
  src/main/webapp/app/routes.tsx
  src/main/webapp/app/shared/util/tab.constants.ts
  src/main/webapp/i18n/en/eventBudget.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/zh-cn/eventBudget.json
  src/main/webapp/i18n/zh-cn/global.json
  src/test/javascript/spec/app/config/notification-middleware.spec.ts
Labels: dev

#74 Register Attendee
  src/main/webapp/app/entities/event-attendee/event-attendee-create.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-delete-dialog.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee.reducer.ts
  src/main/webapp/app/entities/event-attendee/index.tsx
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/entities/event/index.tsx
  src/main/webapp/app/entities/index.tsx
  src/main/webapp/app/styles/event-module.scss
  src/main/webapp/i18n/en/eventAttendee.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/zh-cn/eventAttendee.json
  src/main/webapp/i18n/zh-cn/global.json
Labels: dev

#57 event attendee listing
  src/main/webapp/app/config/icon-loader.ts
  src/main/webapp/app/entities/event-attendee/event-attendee-detail.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-row.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-sort-button.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-sort-modal.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee.reducer.ts
  src/main/webapp/app/entities/event-attendee/event-attendee.scss
  src/main/webapp/app/entities/event-attendee/event-attendee.tsx
  src/main/webapp/app/entities/event-attendee/index.tsx
  src/main/webapp/app/shared/model/event-attendee.model.ts
  src/main/webapp/app/shared/util/event-attendee-sort.constants.ts
  src/main/webapp/i18n/en/eventAttendee.json
  src/main/webapp/i18n/zh-cn/eventAttendee.json
Labels: dev

#76 Standardised event module styles
  src/main/webapp/app/app.tsx
  src/main/webapp/app/entities/budget/budget.tsx
  src/main/webapp/app/entities/event-activity/event-activity.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist.tsx
  src/main/webapp/app/entities/event-checklist/eventChecklist.scss
  src/main/webapp/app/entities/event-crew/event-crew.tsx
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.scss
  src/main/webapp/app/shared/components/customTab/custom-tab.tsx
  src/main/webapp/app/styles/event-module.scss
  src/main/webapp/i18n/en/eventCrew.json
Labels: bug

#78 finance tab constant
  src/main/webapp/app/shared/components/customTab/custom-tab.scss
  src/main/webapp/app/shared/util/tab.constants.ts
  src/main/webapp/i18n/en/claim.json
  src/main/webapp/i18n/en/debt.json
  src/main/webapp/i18n/en/financeReport.json
  src/main/webapp/i18n/en/transaction.json
  src/main/webapp/i18n/zh-cn/claim.json
  src/main/webapp/i18n/zh-cn/debt.json
  src/main/webapp/i18n/zh-cn/financeReport.json
  src/main/webapp/i18n/zh-cn/transaction.json
Labels: dev, finance

#82 Chinese Version Translate for Event Module
  src/main/webapp/app/entities/budget/budget.tsx
  src/main/webapp/app/entities/event-activity/event-activity.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist.tsx
  src/main/webapp/app/entities/event-crew/event-crew-update.tsx
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/entities/event/event.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.scss
  src/main/webapp/app/shared/components/eventTable/EventTableRow.tsx
  src/main/webapp/i18n/en/event.json
  src/main/webapp/i18n/en/eventCrewRole.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/zh-cn/event.json
  src/main/webapp/i18n/zh-cn/eventActivity.json
  src/main/webapp/i18n/zh-cn/eventAttendee.json
  src/main/webapp/i18n/zh-cn/eventBudget.json
  src/main/webapp/i18n/zh-cn/eventChecklist.json
  src/main/webapp/i18n/zh-cn/eventChecklistStatus.json
  src/main/webapp/i18n/zh-cn/eventChecklistType.json
  src/main/webapp/i18n/zh-cn/eventCrew.json
  src/main/webapp/i18n/zh-cn/eventCrewRole.json
  src/main/webapp/i18n/zh-cn/global.json
  src/main/webapp/i18n/zh-cn/transactionType.json
Labels: bug, event

#80 Luxianze/standardise styles
  src/main/webapp/app/app.tsx
  src/main/webapp/app/config/icon-loader.ts
  src/main/webapp/app/entities/budget/budget-create.tsx
  src/main/webapp/app/entities/budget/budget-update.tsx
  src/main/webapp/app/entities/budget/budget.tsx
  src/main/webapp/app/entities/event-activity/event-activity-create.tsx
  src/main/webapp/app/entities/event-activity/event-activity-update.tsx
  src/main/webapp/app/entities/event-activity/event-activity.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-create.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist-update.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist.tsx
  src/main/webapp/app/entities/event-checklist/eventChecklist.scss
  src/main/webapp/app/entities/event-crew/event-crew-update.tsx
  src/main/webapp/app/entities/event-crew/event-crew.tsx
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/entities/event/event-update.tsx
  src/main/webapp/app/entities/event/events.scss
  src/main/webapp/app/shared/components/customTab/custom-tab.scss
  src/main/webapp/app/shared/components/customTab/custom-tab.tsx
  src/main/webapp/app/shared/layout/menus/modules.scss
  src/main/webapp/app/shared/layout/menus/modules.tsx
  src/main/webapp/app/styles/event-module.scss
  src/main/webapp/i18n/en/event.json
  src/main/webapp/i18n/en/eventCrew.json
Labels: bug, event

#83 Retain dev 1 commits
  src/main/webapp/app/config/icon-loader.ts
  src/main/webapp/app/entities/budget/budget-create.tsx
  src/main/webapp/app/entities/budget/budget-update.tsx
  src/main/webapp/app/entities/event-activity/event-activity-create.tsx
  src/main/webapp/app/entities/event-activity/event-activity-update.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-create.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist-update.tsx
  src/main/webapp/app/entities/event-crew/event-crew-update.tsx
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/entities/event/event-update.tsx
  src/main/webapp/app/entities/event/events.scss
  src/main/webapp/app/shared/layout/menus/modules.scss
  src/main/webapp/app/shared/layout/menus/modules.tsx
  src/main/webapp/app/styles/event-module.scss
  src/main/webapp/i18n/en/event.json
Labels: bug

#84 Clement event bugfix
  package-lock.json
  package.json
  src/main/webapp/app/config/constants.ts
  src/main/webapp/app/config/icon-loader.ts
  src/main/webapp/app/entities/event/event-detail.tsx
  src/main/webapp/app/entities/event/event-details.scss
  src/main/webapp/app/entities/event/event.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.tsx
  src/main/webapp/app/shared/components/eventTable/EventTableRow.tsx
  src/main/webapp/i18n/en/event.json
  src/main/webapp/i18n/en/eventAttendee.json
  src/main/webapp/i18n/zh-cn/event.json
  src/main/webapp/i18n/zh-cn/eventAttendee.json
  src/main/webapp/static/images/placeholder.png
Labels: bug, event

#86 Event attendee fix
  src/main/webapp/app/entities/budget/budget-delete-dialog.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-delete-dialog.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist-delete-dialog.tsx
  src/main/webapp/app/entities/event/event-delete-dialog.tsx
  src/main/webapp/app/shared/components/customTab/custom-tab.tsx
  src/main/webapp/app/shared/model/event-attendee.model.ts
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/zh-cn/global.json
Labels: bug, event

#87 Filter Events as Upcoming and Previous
  src/main/webapp/app/entities/budget/budget.reducer.ts
  src/main/webapp/app/entities/event/event.reducer.ts
  src/main/webapp/app/entities/event/event.tsx
  src/main/webapp/app/entities/event/index.tsx
  src/main/webapp/app/shared/util/tab.constants.ts
Labels: bug, event

#91 Fix Event Attendee Listing Issue
  src/main/webapp/app/entities/event-attendee/event-attendee.reducer.ts
Labels: bug, event

#92 Debt listing
  src/main/webapp/app/config/icon-loader.ts
  src/main/webapp/app/entities/debt/debt.reducer.ts
  src/main/webapp/app/entities/debt/debt.tsx
  src/main/webapp/app/shared/components/listing-card/listing-card.tsx
  src/main/webapp/app/shared/layout/menus/modules.tsx
  src/main/webapp/app/shared/model/debt.model.ts
  src/main/webapp/app/styles/finance-module.scss
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/zh-cn/global.json
Labels: dev, finance

#85 Yaw issue25 complete profile page
  src/main/webapp/app/modules/auth/complete-profile/complete-profile.reducer.ts
  src/main/webapp/app/modules/auth/complete-profile/complete-user-profile.tsx
  src/main/webapp/app/shared/auth/private-route.tsx
  src/main/webapp/app/shared/model/course-program.model.ts
  src/main/webapp/app/shared/model/user-uni-info.model.ts
  src/main/webapp/app/shared/model/year-session.model.ts
  src/main/webapp/app/shared/reducers/authentication.ts
  src/main/webapp/app/shared/reducers/index.ts
  src/main/webapp/app/shared/services/auth.service.ts
  src/main/webapp/app/shared/services/uni-academic-info.service.ts
  src/main/webapp/app/shared/type/general-custom-action.ts
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/userProfile.json
  src/main/webapp/i18n/en/userUniInfo.json
  src/main/webapp/i18n/zh-cn/global.json
  src/main/webapp/i18n/zh-cn/userProfile.json
  src/main/webapp/i18n/zh-cn/userUniInfo.json
Labels: authentication, dev

#97 Fix Upcoming tabRoute issue
  src/main/webapp/app/shared/util/tab.constants.ts
Labels: bug, event

#95 Justify buttons evenly between
  src/main/webapp/app/entities/budget/budget-delete-dialog.tsx
  src/main/webapp/app/entities/budget/budget.tsx
  src/main/webapp/app/entities/event-activity/event-activity-delete-dialog.tsx
  src/main/webapp/app/entities/event-activity/event-activity.tsx
  src/main/webapp/app/entities/event-attendee/event-attendee-delete-dialog.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist-delete-dialog.tsx
  src/main/webapp/app/entities/event-checklist/event-checklist.tsx
  src/main/webapp/app/entities/event-crew/event-crew-delete-dialog.tsx
  src/main/webapp/app/entities/event/event-delete-dialog.tsx
Labels: bug, event
